@import url(https://fonts.googleapis.com/css2?family=Michroma+Pro&display=swap);

body {
    font-family: Michroma, sefir;
    background: linear-gradient(90deg, #0000FD 0%, #3e3d3d 100%);
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(12, 218, 12);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(143, 142, 12);
}

.sitebar {
    color: aquamarine;
    background: linear-gradient(270deg, #070760 0%, #000000 100%);

}

.card {
    background: linear-gradient(270deg, #070760 0%, #000000 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.tex-p,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}


footer,
.btn-primary {
    background: linear-gradient(90deg, #070760 0%, #000000 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}



.call-anim {
    animation: myAnim 2s ease 0s 100 alternate-reverse forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}